*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgb(32, 29, 29);
}

/* NAVIGATION MENUS NAVIGATION MENUS  */
.overlay {
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.499);
    opacity: 0;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease;
}

.site-logo {
    height: 3rem;
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
}

#hamburger {
    position: fixed;
    right: 25px;
    top: 25px;
    width: 3rem;
    height: 3rem;
    border: none;
    display: inline;
    background: linear-gradient(to bottom,
            #ffffff, #ffffff 20%,
            transparent 20%, transparent 40%,
            #ffffff 40%, #ffffff 60%,
            transparent 60%, transparent 80%,
            #ffffff 80%, #ffffff 100%);
    z-index: 3;
}

#hamburger:hover {
    background: linear-gradient(to bottom,
            #d98621, #d98621 20%,
            transparent 20%, transparent 40%,
            #d98621 40%, #d98621 60%,
            transparent 60%, transparent 80%,
            #d98621 80%, #d98621 100%);
    z-index: 3;
}

#responsive-nav-menu {
    visibility: hidden;
    height: 100vh;
    width: 20rem;
    background-color: rgb(34, 33, 33);
    padding: 2em;
    position: fixed;
    right: -20rem;
    /* right: 0; */
    top: 0;
    z-index: 3;
    transition: all .5s ease;
}

#responsive-nav-menu h3 {
    font-size: 2rem;
    color: white;
    padding-bottom: 1em;
}

#responsive-nav-menu li {
    list-style: none;
    font-size: 1.5rem;
}

#responsive-nav-menu a {
    text-decoration: none;
    color: #8e8989;
    transition: all .3s ease-in-out;
}

#responsive-nav-menu a:hover {
    /* text-decoration: none; */
    color: rgb(213, 213, 213)
}

#hamburger-icon {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#hamburger-icon:checked~#hamburger #responsive-nav-menu {
    visibility: visible;
    right: 0;
}

#hamburger-icon:checked~.overlay {
    visibility: visible;
    opacity: 1;
}

/* MAIN MENU  */
#main-nav-menu {
    display: none;
    height: 6rem;
    position: fixed;
    top: 0;
    right: 0%;
    width: 50%;
    transform: translate(-50%, 0);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #474040;
    border-bottom: 1px solid rgb(195, 194, 194);
}

#main-nav-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

#main-nav-menu ul li {
    list-style-type: none;

}

#main-nav-menu ul li a {
    color: rgb(163, 163, 161);
    text-decoration: none;
    font-size: 1.6rem;
    transition: all .4s ease-in-out;
}

#main-nav-menu ul li a:hover {
    color: rgb(212, 167, 90);
}

/* SECTION INTRO SECTION INTRO  */
.section {
    margin-bottom: 1.5em;
    /* height: 100vh; */

}

.section__intro {
    background-color: #67616172;
    padding: 15em;
}

.text-box__mosaic {
    width: 100%;
    height: 30rem;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid wheat; */

}

.text-box__mosaic .box {
    width: 10rem;
    height: 10rem;
    margin: .5em;
    font-size: 1.5rem;
    color: rgb(234, 76, 224);
    border: 1px solid rgb(181, 108, 183);
    border-radius: 1rem;
    transition: all .3s ease-in-out;
    position: relative;

}

/* CUSTOM CSS CLASSES  */
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backGset {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.horizontal-center {
    left: 50%;
    transform: translate(-50%, 0);
}

.vertical-center {
    top: 50%;
    transform: translate(0, 50%);
}

.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* END CUSTOM CSS CLASSES  */
.text-box__mosaic .box:hover {
    transform: translateY(-5px) scale(1.1);
    letter-spacing: 2px;

}

/* BOX BACKGROUND IMG  */

.box-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(181, 108, 183);
    border-radius: 1rem;
    background-color: #222020;
}

.box-overlay:hover {
    opacity: .6;
}

/* BOX HOVER COLORS  */

.text-box__mosaic .box-nature:hover {
    color: rgb(122, 183, 116);
    border: 1px solid rgb(36, 138, 38);

}

.text-box__mosaic .box-structual:hover {
    color: rgb(183, 170, 116);
    border: 1px solid rgb(180, 146, 25);
}

.text-box__mosaic .box-macro:hover {

    color: rgb(116, 172, 183);
    border: 1px solid rgb(79, 215, 236);
}

.text-box__mosaic .box-people:hover {
    color: rgb(215, 158, 117);
    border: 1px solid rgb(192, 89, 51);
}

.text-box__mosaic .box-night:hover {
    color: rgb(152, 122, 216);
    border: 1px solid rgb(149, 61, 231);
}

.text-box__heading-1 {
    width: 100%;
    font-size: 1.8rem;
    color: rgb(214, 208, 208);
    text-align: center;
    letter-spacing: 2px;
    padding: 2em;
    /* margin-top: -4em; */

}

.text-box__heading-1 h1 {
    margin-bottom: 1em;
}

.tb-heading-span-1 {
    color: rgb(176, 145, 82);

}

.tb-heading-span-2 {
    color: rgb(102, 118, 202);
}

.btn {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1em;
}

.btn-heading-1 {
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(81, 72, 72);
    text-decoration: none;
    color: rgb(167, 138, 115);
    transition: all .4s ease;
}

.btn-heading-1:hover {
    color: rgb(176, 145, 82);
    background-color: transparent;
    border: 1px solid rgb(99, 114, 182);
    transform: translateY(-5px);
}

/* SECTION ABOUT ME SECTION ABOUT ME  */

.section-about {
    background-image: url("Images/branch-pov-min-min.JPG");
    background-attachment: fixed;
    padding: 10em 0 10em 0;

}

.text-box__me {
    height: 10rem;
    width: 100%;
    padding: 0 1em;
    margin: 2em;
    margin: 0 auto;
    margin-bottom: 3em;
    /* border: 1px solid white; */
}

.me-info {
    width: calc(100%/3);
    height: 100%;
    margin: 0 1em;
    /* border: 1px solid rgb(7, 68, 68); */
    border-radius: 5px;
    background-color: rgba(196, 147, 91, 0.623);
    background-color: rgba(47, 42, 42, 0.698);
    padding: 1em;
    text-align: center;
    transition: all .3s ease-in-out;
}

.me-info:hover {
    background-color: rgba(80, 77, 72, 0.623);

}

.me-info p {
    font-size: 1.4rem;
    color: rgb(205, 182, 182);
}

.text-box__pro-pic {
    top: 25em;
    height: 25em;
    width: 25rem;
    padding: 2em;
    border-radius: 1em;
    background-color: rgba(47, 42, 42, 0.335);
    margin: 0 auto;
    margin-bottom: 2em;

}

.about_profile-pic {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(148, 85, 85);
    box-shadow: 2px 2px 5rem rgb(148, 85, 85);
    border-radius: 50%;
    background-image: url("Images/talltree-min-min.JPG");
    object-fit: cover;
}

.text-box__about {
    height: 20rem;
    width: 90%;
    padding: 1em;
    border: 1px solid rgb(46, 42, 42);
    background-color: rgba(47, 42, 42, 0.698);
    flex-direction: column;
    justify-content: start;
    margin: 0 auto;
}

.text-box__about h3 {
    align-self: flex-start;
    font-size: 1.6rem;
    color: rgb(229, 208, 188);
    padding-bottom: .5em;
}

.text-box__about p {
    font-size: 1.4rem;
    color: rgb(174, 169, 169);
    font-weight: 100;
}

/* SECTION GALLERY SECTION GALLERY */

.section-gallery {
    background-image: linear-gradient(to right bottom, rgba(34, 32, 32, 0.705), rgba(34, 32, 32, 0.698)), url("Images/b&w-streetshot-min-min.JPEG");
    background-attachment: fixed;
    padding: 5em 0 10em 0;
}

.text-box__grid-gallery {
    padding: .7em 2em;
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: .5em;
}

.boxs {
    border-radius: 5px;
    border: 1px solid transparent;
    overflow: hidden;
    transition: all .3s ease-in-out;
    background-color: #a3a2a2;
    width: 100%;
    height: 100%;
}

/* .boxs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.grid-subtitle {
    grid-column: 1 / 5;
    justify-content: center;
    background-color: transparent;

}

.grid-subtitle h3 {
    font-size: 1.6rem;
    padding-left: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.grid-one-sub {
    border-bottom: .3em solid rgb(93, 194, 103);
}

/* .grid-one-sub:hover {
    border-bottom: 1em solid rgb(120, 233, 132);
} */

.grid-one-sub h3 {
    color: rgb(93, 194, 103);
}

.grid-box1 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.grid-box2 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

.grid-box3 {
    grid-column: 1 / 3;
    grid-row: 4;
}

.grid-box4 {
    grid-column: 3 /5;
    grid-row: 4;
}

.gallery2 {
    height: 15rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-two-sub {
    border-bottom: .3em solid rgb(176, 145, 82);
}

.grid-two-sub h3 {
    color: rgb(176, 145, 82);
}

/* .grid-two-sub:hover {
    border-bottom: 1em solid rgb(176, 145, 82);
} */

.grid-box5 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.grid-box6 {
    grid-column: 2 /3;
    grid-row: 2/ 4;
}

.grid-box7 {
    grid-column: 3 /5;
    grid-row: 2/ 4;
}

.gallery3 {
    height: 15rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-three-sub {
    border-bottom: .3em solid rgb(112, 190, 231);
}

.grid-three-sub h3 {
    color: rgb(112, 190, 231);
}

/* .grid-three-sub:hover {
    border-bottom: 1em solid rgb(112, 190, 231);
} */

.grid-box8 {
    /* background-image: url("pictures/big-plant-unfold-min.JPEG"); */
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.grid-box9 {
    /* background-image: url("pictures/single-flower-min.jpg"); */
    grid-column: 2 / 5;
    grid-row: 2/ 5;
}

.gallery-side {
    display: none;
}

.grid-four-sub {
    border-left: 3px solid rgb(132, 97, 185);
    height: 50%;
    align-self: center;
}

.grid-four-sub h3 {
    color: rgb(132, 97, 185);
}

/* .grid-four-sub:hover {
    border-left: 1em solid rgb(132, 97, 185);
} */

.grid-box10 {
    grid-row: 2;
    grid-column: 1 / 5;
}

.grid-box11 {
    grid-row: 3;
    grid-column: 1 / 5;
}

.grid-box12 {
    grid-row: 4;
    grid-column: 1 / 5;
}

/* .gallery-side-2 {
    right: -14rem;
} */

.grid-five-sub {
    border-right: .3em solid rgb(186, 179, 44);
    height: 50%;
    align-self: center;
}

.grid-five-sub h3 {
    color: rgb(186, 179, 44);
}

/* .grid-five-sub:hover {
    border-right: 1em solid rgb(186, 179, 44);
} */

.grid-box13 {
    grid-row: 2;
    grid-column: 1 / 5;
}

.grid-box14 {
    grid-row: 3;
    grid-column: 1 / 5;
}

.grid-box15 {
    grid-row: 4;
    grid-column: 1 / 5;
}

.text-box__gallery-btn {
    width: 100%;
    margin-top: 5em;
    /* top: 72rem; */
    justify-content: center;
}

.text-box__gallery-btn button {
    border-radius: 7px;
    border: 1px solid rgb(212, 209, 209);
    outline: none;
    padding: 1em;
    background-color: rgb(185, 182, 177);
    background-color: transparent;
    text-transform: capitalize;
    color: rgb(191, 143, 143);
    transition: all .3s ease-in-out;
}

.text-box__gallery-btn button:hover {
    border: 1px solid rgb(218, 173, 173);
    background-color: rgba(112, 108, 101, 0.638);
    transform: translateY(-5px);
    color: rgb(252, 156, 156);
    box-shadow: 0 10px 2rem 0 black;
    padding: 1em 2em;

}

/* SECTION FOOTER SECTION FOOTER */

footer {
    position: relative;
    bottom: 0;
    left: 0;
}

.section-contact {
    height: initial;
    background-color: rgb(53, 49, 49);
    padding: 5em 0 1em 0;
}

.text-box__contact {
    width: 100%;
    height: 10rem;
    color: white;
    padding: .5em 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.grid-contact {
    background-color: rgba(128, 128, 128, 0.06);
    border-radius: 5px;
}

.grid-contact p {
    color: rgb(146, 136, 136);
    font-size: 1.6rem;
}

.grid-contact a {
    color: rgb(207, 205, 205);
    font-size: 1.6rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.grid-contact i {
    font-size: 3rem;
}

.grid-contact:hover:not(.contact-title) {
    background-color: rgba(128, 128, 128, 0.3);
}

.grid-contact .instgramicon:hover {
    background-image: linear-gradient(to bottom right,
            rgb(120, 132, 222),
            rgb(181, 92, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-contact .emailicon:hover {
    background-image: linear-gradient(to bottom right,
            rgb(120, 222, 173),
            rgb(92, 150, 181));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-contact .linkedinicon:hover {
    background-image: linear-gradient(to bottom right,
            rgb(62, 78, 203),
            rgb(92, 144, 181));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-title {
    grid-column: 1 / 4;
    background-color: transparent;
}

.contact-method1 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.contact-method2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.contact-method3 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.text-box__legal {
    width: 100%;
    color: white;
    padding: 1em;
    text-align: center;
    margin-top: 2em;
}

.text-box__legal p {
    color: rgb(97, 94, 94);
    letter-spacing: 2px;

}

@media screen and (min-width:350px) {
    html {
        font-size: 50%;
    }

    .section__intro {
        padding: 12em 0;
    }
}

@media screen and (min-width:450px) {
    html {
        font-size: 50%;
    }

    .section__intro {
        padding: 24em 0;
    }

    .section-about {
        padding: 15em 0;
    }

    .section-gallery {
        padding: 10em 0;
    }
}

@media screen and (min-width:650px) {
    html {
        font-size: 60%;
    }


    .text-box__mosaic {
        height: auto;
        margin: 0 auto;
    }

    .text-box__heading-1 {
        font-size: 2rem;
    }


    .text-box__me {
        width: 80%;
        height: 5rem;
    }


    .text-box__about {
        height: 12rem;
    }

}

@media screen and (min-width:950px) {
    html {
        font-size: 70%;
    }

    .text-box__mosaic .box {
        width: 6em;
        height: 10rem;
        font-size: 2rem;
    }

    .text-box__heading-1 {
        font-size: 2rem;
    }

    .btn-heading-1 {
        font-size: 1.6rem;
    }


    .text-box__me {
        width: 70%;
        height: 5rem;
    }

    .me-info p {
        font-size: 1.8rem;
    }

    .text-box__pro-pic {
        height: 17em;
        width: 17rem;
        margin-bottom: 3em;
    }

    .text-box__about {
        width: 80%;
        height: 15rem;
        margin-top: 0;
    }


    .text-box__about h3 {
        font-size: 2rem;
    }

    .text-box__about p {
        font-size: 1.8rem;
    }

    .text-box__grid-gallery {
        padding: 0;
        width: 60%;
        margin: 0 auto;
    }

    .text-box__contact {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1200px) {
    html {
        font-size: 80%;
    }

    body {
        margin: 0 3rem;
    }

    .site-logo {
        top: 2rem;
        left: 5rem;
    }

    #hamburger {
        right: 5rem;
        top: 2rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    #responsive-nav-menu h3 {
        font-size: 2.5rem;
    }

    #responsive-nav-menu li {
        font-size: 2rem;
    }

    .section__intro {
        padding: 13em 0em;
    }

    .text-box__mosaic {
        height: auto;
        margin: 0 auto;
    }

    .text-box__mosaic .box {
        width: 6em;
        height: 10rem;
        font-size: 2rem;
    }

    .text-box__heading-1 {
        font-size: 2.5rem;

    }

    .btn-heading-1 {
        font-size: 1.6rem;
    }

    .section-about {
        padding: 12em 0;
    }

    .text-box__me {
        width: 70%;
        height: 5rem;
    }

    .me-info p {
        font-size: 1.8rem;
    }

    .text-box__pro-pic {
        height: 17em;
        width: 17rem;
        margin-bottom: 3em;
    }

    .text-box__about {
        width: 80%;
        height: 15rem;
        margin-top: 0;
    }


    .text-box__about h3 {
        font-size: 2rem;
    }

    .text-box__about p {
        font-size: 1.8rem;
    }


    .section-gallery {
        position: relative;
    }

    .text-box__grid-gallery {
        padding: 0;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2em;
        font-size: 2rem;
    }

    .gallery-side {
        display: none;
    }

    .text-box__contact {
        width: 40%;
        margin: 0 auto;
    }

    .text-box__gallery-btn button {
        font-size: 1.6rem;
        width: 11em;
    }

}

@media screen and (min-width:1900px) {
    html {
        font-size: 90%;
    }

    html {
        font-size: 80%;
    }

    body {
        margin: 0 3rem;
    }

    .site-logo {
        top: 2rem;
        left: 5rem;
    }

    #hamburger {
        right: 5rem;
        top: 2rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    #responsive-nav-menu h3 {
        font-size: 2.5rem;
    }

    #responsive-nav-menu li {
        font-size: 2rem;
    }

    .section__intro {
        padding: 25em 10em;
    }

    .text-box__mosaic {
        height: auto;
        margin: 0 auto;
    }

    .text-box__mosaic .box {
        width: 6em;
        height: 10rem;
        font-size: 2rem;
    }

    .text-box__heading-1 {
        font-size: 2.5rem;
        margin-top: -1.5em;

    }

    .btn-heading-1 {
        font-size: 1.6rem;
    }

    .section-about {
        padding: 17em 5em;
    }

    .text-box__me {
        width: 70%;
        height: 5em;
    }

    .me-info {
        height: 7em;
    }

    .me-info p {
        font-size: 1.8rem;
    }



    .text-box__pro-pic {
        height: 20em;
        width: 20rem;
        margin-bottom: 4em;
    }

    .text-box__about {
        width: 75%;
        height: 18rem;
        margin-top: 0;
    }


    .text-box__about h3 {
        font-size: 2rem;
    }

    .text-box__about p {
        font-size: 1.8rem;
    }

    .section-gallery {
        position: relative;
    }

    .text-box__grid-gallery {
        padding: 0;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 2em;
        font-size: 2rem;
    }

    .gallery-side {
        display: grid;
        top: 5%;
        width: 24%;
        height: 70rem;
        position: absolute;
        padding: 0 1em;

    }

    .gallery-side-1 {
        left: 0;
    }

    .gallery-side-2 {
        right: 0;
    }

    .text-box__gallery-btn button {
        font-size: 1.8rem;
        width: 40rem;
    }

    .text-box__contact {
        width: 40%;
        margin: 0 auto;
    }

    .grid-contact p {
        font-size: 2rem;
    }

    .grid-contact a {
        font-size: 1.8rem;
    }

    .grid-contact i {
        font-size: 3.5rem;
    }

    .text-box__legal p {
        font-size: 1.6rem;
    }
}